#
# COPYRIGHT Ericsson 2021
#
#
#
# The copyright to the computer program(s) herein is the property of
#
# Ericsson Inc. The programs may be used and/or copied only with written
#
# permission from Ericsson Inc. or in accordance with the terms and
#
# conditions stipulated in the agreement/contract under which the
#
# program(s) have been supplied.
#

#  Note : These are the file that will be uploaded to JFrog. Please list if any other files need to be upload.
#  document name
documents:
  - name: "User Guide"
    filepath: build/doc-marketplace/user-guide.zip
    default: true
  - name: "API Documentation"
    filepath: src/main/resources/v1/index.html
  - name: "Application Developers Guide"
    filepath: build/doc-marketplace/developers-guide.zip